{% extends 'base.html.twig' %}

{% block title %}Hello ProposController!{% endblock %}

{% block body %}
<br> <br> <br>
<h3>Qui sommes-nous ?</h3>
<hr>
<b>A propos de Dabchi.Com</b> <br> <br>
<p>Fondée en 2020, la marque Dabchi.Com s’adresse essentiellement aux adeptes du Basket-Ball dans le monde. Elle établit alors, en 2020,  des  partenariats avec, notamment, la FIBA Europe All Star Game et la Chinese Basket Association. Elle devient, par la suite, sponsor officiel de plusieurs ambassadeurs au sein de la NBA (Jason Kidd, Michael Pietrus, Shane Battier, George Hill).

Cette stratégie a été fortement consolidée en 2021 suite à la collaboration avec Tony Parker qui devient l'ambassadeur n°1 de la marque.</p>
<p>La marque Dabchi.Com s'est donné un nouvel envol en offrant de nouveaux produits adaptés  à d’autres disciplines telles que le tennis, le volley-ball ou encore le football. Dans ce cadre, elle a signé des partenariats pluridisciplinaires avec des équipes olympiques nationales à l’instar de la Nouvelle-Zélande, la Serbie et le Liban ou encore avec des organisations sportives internationales telle quele WTA (Women's Tennis Association).</p>
<p>PEAK s’est implanté aux USA en 2008 puis en France en 2015. Elle possède actuellement un réseau de distribution de près de 8 000 points de vente répartis sur plus de 110 pays.</p>
<b>UNE EQUIPE JEUNE, DYNAMIQUE ET PRO</b>
<p>La qualité, la mode et le prix sont certainement les facteurs clés de succès de la marque Joliesse, mais tout ceci est grâce à une équipe motivée, professionnelle et jeune qui est à l’écoute de sa clientèle pour connaître et satisfaire son besoin d’une manière précise.</p>
<b>Dabchi.Com AUTOUR DES VALEURS</b>
<p>Pour assurer la continuité de sa réussite, la marque a fixé des valeurs à respecter ! Nos valeurs se tournent autour de notre client pour faire de son expérience chez Dabchi.Com une expérience à revivre ! <br>

Nos valeurs : <br>

*Transparence <br>
*Flexibilité <br>
*Confiance réciproque</p> <br><br>
{% endblock %}
