body {
  position: relative;
}
.navbar-items-custom, .navbar-items-custom a{
  color:#fff;
} 
.footer_custom {
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
background-color: rgb(46, 54, 56);
padding-top: 20px;
color: #070707;
margin-top: 20px;

}

.product-items h5{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
  } 


  .product-items .product-subtitle{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  } 

  .product-items .product-price{
    font-weight: bold;
    font-size: 15px;
  } 

  .product-container {
      margin-bottom: 125px;
  }

  .product-items{
    border-style: outset;
    border-color: rgb(168, 168, 156);
    border-radius: 15px;
    /* height: 100%; */
    margin-top: 50px;
    padding-bottom: 20px;
    
  }

  .product_page_price {
    font-size: 19px;
    font-weight: bold;
  }

  .login_form{
    max-width: 600px;
    margin: auto;
  }
  .form-check{
    background-color: #e9edf3;
    padding: 20px 65px;
    margin-top: 10px;
    border-style: 2px solid;
    border-radius: 5px;
  }
  .col-form-label{
    font-weight: bold;
  }
  .order-summary{
    background-color: #e9edf3;
    padding: 20px;
    margin-top: 22px;
  }