body {
  position: relative;
}
.navbar-items-custom, .navbar-items-custom a{
  color:rgb(111, 236, 205);
} 
.navbar-items-custom a:hover{
  color: #f1f6f7;
}

/* Footer */
.footer_custom {
text-align: center;
position: absolute;
width: 100%;
background-color: #095A63;
padding-top: 20px;
padding-bottom: 20px;
margin-top: auto;
color: white;
}


.product-items h5{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
  }  


  .product-items .product-subtitle{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  } 

  .product-items .product-price{
    font-weight: bold;
    font-size: 15px;
  } 

  .product-container {
      margin-bottom: 125px;
  }

  .product-items{
    /* border-style: outset;
    border-color: rgb(168, 168, 156);
    border-radius: 15px; */
    /* height: 100%; */
    margin-top: 50px;
    padding-bottom: 20px;
    
  }

  .product_page_price {
    font-size: 19px;
    font-weight: bold;
  }

  .login_form{
    max-width: 600px;
    margin: auto;
  }

  .form_logout{
    max-width: 70%;
    margin: auto;
  }
  /* .form-check{
    background-color: #e9edf3;
    padding: 20px 65px;
    margin-top: 10px;
    border-style: 2px solid;
    border-radius: 5px;
  } */
  .col-form-label{
    font-weight: bold;
  }
  .order-summary{
    background-color: #e9edf3;
    padding: 20px;
    margin-top: 22px;
  }
  .carousel-caption{
    color: #e9edf3;
  } 

.nav-item a{
  color:teal;
}

label {
  color: #1a237e;
  font-weight: bold;
  font-size: 13px;
}

.account-item {
  background-color: #f1f2f6;
  padding: 70px;
}

.account-item a {
  text-transform: uppercase;
  font-size: 13px;
  color: #4b6584;
  font-weight: bold;
}
.account-item a:hover {
  color: #778ca3;
  text-decoration: none;
}



 