{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - La Boutique Française{% endblock %}

{% block content %}
    <h2>Confirmation de commande</h2>
    <p>
        {{ dump(order)}}
    </p>
{% endblock %}
